<% if(locals.favAlbums && locals.favAlbums.length > 0){ %>
<div class="row mt-4">
  <h1>Your favorite <%= artistData.name %> albums</h1>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
    <% favAlbums.forEach(data => { 
      let artistID = artistData.deezer_id ? artistData.deezer_id : artistData.id
      const buttonData = {
        action: '/album',
        method: 'post',
        wrapperClass: 'album-block',
        buttonClass: 'remove',
        text: 'remove',
        hidden: [
          {name: 'album', value:data.deezer_id},
          {name: 'action', value: 'delete'},
          {name: 'source', value: `/artist/${artistID}?index=${myIndex}`}
        ],
        }
      %>
    <div class="col">
      <a href="/album/<%= data.deezer_id %>">
        <div class="card album-card shadow-lg">
          <img class="img-fluid" src="<%= data.cover_big %>" alt="<%= data.title %>">
          <%- include('../elements/siteButton.ejs', {data: buttonData}) %>
          <div class="centered"><%= data.title %></div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>
</div>
<% } %>